.nav {
    position: sticky;
    top: 0;
    width: 97%;
    background-color: #ff7b00;
    color: #fff;
    display: flex;
    padding: 0 16px;
    align-items: center;
    height: 56px;
    font: 500 20px/32px Roboto, 'Helvetica Neue', sans-serif;
    justify-content: space-between;
}

.nav ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav ul li {
    margin-right: 20px;
}